.fondoBody {
    display: flex;
    justify-content: center;
    width:500px;
    height:500px;
    background:lightgrey;
}

.buzzFace {
    display: block;
    width: 175px;
    height: 125px;
    background-color: aqua;
}